.mainwrapper {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: space-around;
	background-color: rgba(165, 165, 165, 0.1)
}

.componentwrapper {
	display: block;
	justify-content: center;
	
}

.searchwrapper {
	width: 100vw;
	background-color: white;
	display: flex;
	justify-content: center;
	
}

.jumbotron {
	width: 900px;
	padding: 5px;
	background-color: rgba(165, 165, 165, 0.1)
}

.resultswrapper {
	width: 100vw;
	padding: 50px;
	min-width: 700px;


}