.body {
    position: relative;
    margin-top: 10px;
    max-width: 900px;
    min-width: 700px;
    margin-bottom: 40px;

}

.search-menu {
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;

}

.dropdown {
    margin-right: 10px;
    margin-bottom: 5px;
}

.search-labels {
    display: flex;
    justify-content: space-between;
}

.btnrow {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.createbtn {
    float: right;
    margin-bottom: 15px;
    margin-left: 15px;
       
}

.clearfix:after {
    display: block;
    clear: both;
    content: '';
}

.saved-searches {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.name-input {
    margin-left: 2px;
}
